<div class="container">

    <div class="home-container">
        <div class="welcome-message" style="padding-left: 1.5rem; padding-right: 1.5rem;" >
          <h1>PE-MIK University - Advanced computer algorithms class</h1>
          <h5>As a final project for the class, we were tasked with making an app that recommends a product - close to our heart - to a broader audience, based on preferences. For this, we were required to write our own algorithm.</h5>
        </div>       
    </div>
    <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
<img src="assets/pseudocode.png" alt="Pseudocode of the algorithm" style="max-width: 1000px;" width="auto" height="auto">

    </div>
  </div>
