<mat-toolbar style="background-color: #FFCB84;">
  <img src="../../assets/cup.ico" alt="" style="max-height: 40px; margin-right: 1rem;" width="auto" height="auto">
  <span><h1>Your favourite coffee</h1></span>
  <span class="example-spacer"></span>
  <button routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="/preference" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <img src="assets/cup.ico" alt="" style="max-height: 20px; filter: brightness(100%);" width="auto" height="auto">
  </button>
  <button routerLink="/info" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>

