<div class="container" style="min-width: 1100px; width: 1200px;">

    <mat-card style="background-color:  #FFCB84;">
            <mat-card-title>Coffee-nator 3000</mat-card-title>
    
        <div class="coffee-form">
            <form class="form" [formGroup]="coffeeForm">  
                
                <mat-form-field appearance="outline">
                    <mat-label>Falvour notes</mat-label>
                    <mat-select matTooltipPosition="after" matTooltip="Overall flavour composition of the drink" multiple formControlName="tasteNotes" >
                      <mat-option *ngFor="let note of notes" [value]="note">{{note}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div style="display: block; width: 700px; padding-right: 1rem;padding-left: 1rem;">
                    <div style="display: flex; align-items: center;">
                        <mat-label matTooltipPosition="after" matTooltip="Indicates how much insoluble particles are in the drink. Changes the texture of the cup"><h3>Body ☕</h3></mat-label>
                        <mat-slider style="margin-left: auto; width: 400px;" class="field" thumbLabel tickInterval="1" min="0" max="10" formControlName="body"></mat-slider>
                    </div>
                
                    <div  style="display: flex; align-items: center;">
                        <mat-label matTooltipPosition="after" matTooltip="How acidic the drink is. Acidity here relates to lemonaid like acidity"><h3>Acidity 🍋 </h3></mat-label>
                        <mat-slider style="margin-left: auto; width: 400px;" thumbLabel tickInterval="1" min="0" max="10" formControlName="acidity"></mat-slider>
                    </div>
            
                    <div  style="display: flex; align-items: center;">
                        <mat-label matTooltipPosition="after" matTooltip="How sweet the drink is"><h3>Sweetness 🍬</h3></mat-label>
                        <mat-slider  style="margin-left: auto; width: 400px;" thumbLabel tickInterval="1" min="0" max="10" formControlName="sweetness" ></mat-slider>
                    </div>
          
          
                    <div  style="display: flex; align-items: center;">
                        <mat-label matTooltipPosition="after" matTooltip="The complexity of the flavours"><h3>Aroma 🔥</h3></mat-label>
                        <mat-slider style="margin-left: auto; width: 400px;" thumbLabel tickInterval="1" min="0" max="10" formControlName="aroma" ></mat-slider>
                    </div>
            
          
                <div style="display: flex; align-items: center;">
                    
                              <mat-label matTooltipPosition="after" matTooltip="Indicates how strong the flavours are"><h3>Strength 💪</h3></mat-label>
                              <mat-slider style="margin-left: auto;width: 400px;" thumbLabel tickInterval="1" min="0" max="10" formControlName="strength" ></mat-slider>
                </div>
                </div>
        
              
              
                </form>

                    <input  matTooltip="Click Me"  class="pop-image" (click)="onSubmit()" [disabled]="coffeeForm.invalid" type="image" src="assets/cup.png" alt="" style="max-height: 200px; margin-left: auto; margin-right: auto;align-self: center;" width="auto" height="auto">
            </div>
    </mat-card>
</div>
 
  
  
  
  
